<div class="flex items-center justify-center h-screen bg-gray-100">
  <div class="bg-white shadow-lg rounded-2xl p-8 w-96">
    <h2 class="text-2xl font-bold text-gray-700 text-center mb-6">Iniciar Sesión</h2>
    
    <form (ngSubmit)="login()">
      <div class="mb-4">
        <label class="block text-gray-600">Correo</label>
        <input type="email" [(ngModel)]="email" name="email" required 
          class="w-full px-4 py-2 mt-2 border rounded-lg focus:ring focus:ring-indigo-300">
      </div>

      <div class="mb-4">
        <label class="block text-gray-600">Contraseña</label>
        <input type="password" [(ngModel)]="password" name="password" required 
          class="w-full px-4 py-2 mt-2 border rounded-lg focus:ring focus:ring-indigo-300">
      </div>

      <button type="submit"
        class="w-full bg-indigo-600 text-white py-2 rounded-lg hover:bg-indigo-700 transition duration-300">
        Iniciar sesión
      </button>
    </form>

    <p class="mt-4 text-sm text-gray-500 text-center">
      ¿No tienes cuenta? <a href="#" class="text-indigo-600 font-medium">Regístrate</a>
    </p>
  </div>
</div>
